.windowContent.contact{
  align-items: center;
  padding: 15px 18px;
  justify-content: space-between;
  color: #3e3e3e;
}

.headingContactContainer{
  display: flex;
  justify-content: center;
}

.contactHeading{
  margin: 0px;
  font-size: 2rem;
  font-weight: 600;
}

.contactMainText{
  text-align: center;
}

.contactTopContainer,
.contactBottomContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1512px) {
  .contactTopContainer{
    display: inline-block;
  }
  .adaptiveContactText{
    display: inline-block;
  }
}

.centerLine{
  width: 95%;
  border-top: 1px solid #a7a7a7;

  transition: border-top 0.2s;
}

.emailAdressContainer{
  position: relative;
}

.emailAdress{
  font-weight: 500;
  color: #ffa51d;
  cursor: pointer;
  text-decoration: underline;

  transition: color 0.2s;
}

.emailAdress:hover + .copyTooltip{
  opacity: 0.6;
}

.copyTooltip{
  position: absolute;
  bottom: 30px;
  right: 50%;
  transform: translateX(50%);

  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 5px 9px;
  font-size: 0.85rem;
  cursor: default;
  white-space: nowrap;

  opacity: 0;
  transition: opacity 0.15s, background-color 0.2s, color 0.2s;
}

.copyTooltip::after{
  content: '';
  width: 10px;
  height: 10px;

  background-color: black;
  position: absolute;
  top: 80%;
  right: 50%;

  transform: translateX(50%) rotate(45deg);
  transition: background-color 0.2s;
}

.emailBtn{
  margin-top: 15px;
  color: white;
  font-weight: 500;
  background-color: #f59300;
  padding: 11px 20px;
  border-radius: 6px;

  transition: opacity 0.1s, background-color 0.2s, color 0.2s, transform 0.15s;
}

.emailBtn:hover{
  opacity: 0.8;
}

.emailBtn:active{
  transform: scale(0.95);
}