body{
  background-color: white;
  margin: 0px;
  overflow: hidden;

  transition: background-color 0.2s;
}

/* Dark theme settings */

  /* panel */

body.dark{
  background-color: #171717;
}

body.dark .header{
  background-color: #171717;
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.25);
}

  /* player */

body.dark .playerTooltip{
  background-color: white;
  color: #171717;
}

body.dark .playerTooltip::before{
  background-color: white;
}

body.dark .playerBox{
  background-color: #171717;
  border: 2px solid white;
  box-shadow: 0px 3px 3px 1px rgba(255, 255, 255, 0.25);
  border-top: none;
}

body.dark .trackName{
  color: #c0faff;
}

body.dark .timer{
  color: rgb(220, 220, 220);
}

body.dark .playerSlider::-moz-range-track{
  background-color: #5b6068;
}

body.dark .playerSlider::-moz-range-progress{
  background-color: #a8d8ff;
}

  /* footer */

body.dark .copyright{
  color: #d5d5d5;
}

  /* wave */

body.dark .waveStart{
  stop-color: #346485;
}

body.dark .waveEnd{
  stop-color: #0d2e4c;
}

  /* main window */

body.dark .mainWindow{
  background-color: #132135;
}

body.dark .mainWindowContent{
  border: 2px solid white;
}

body.dark .mainWindowDecoration{
  background-color: #171717;
  border: 2px solid white;
  border-bottom: none;
}

body.dark .welcomingText{
  color: white;
}

body.dark .name{
  color: #c0faff
}

body.dark .selfDescription{
  color: #f5f6f7;
}

body.dark .iconName{
  color: white;
}

/* end of dark theme settings */

img {
  pointer-events: none;
}

*{
  box-sizing: border-box;
  font-family:  Zen Kaku Gothic New, Arial;
}

p{
  margin: 0px;
}

a{
  text-decoration: none;
  color: inherit;
}

.pageContainer{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 7vh 1fr 14vh;
}

.noSelect{
  user-select: none;
}

.select{
  user-select: text;
}

.waveBackground{
  width: 100vw;
  height: 200vh;

  position: absolute;
  bottom: -165vh;
  z-index: 0;
}

.waveStart{
  stop-color: #a0d2ff;

  transition: stop-color 0.2s;
}

.waveEnd{
  stop-color: #c7e4ff;

  transition: stop-color 0.2s;
}