body{
  background-color: white;
  margin: 0px;
  overflow: hidden;
}

img {
  pointer-events: none;
}

*{
  font-family:  Zen Kaku Gothic New, Arial;
}

p{
  margin: 0px;
}

a{
  text-decoration: none;
  color: inherit;
}

.pageContainer{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 7vh 1fr 14vh;
}

.noSelect{
  user-select: none;
}

.select{
  user-select: text;
}

.waveBackground{
  width: 100vw;
  height: 1610px;

  position: absolute;
  bottom: -165vh;
  z-index: 0;
}