.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  z-index: 1;
}

.mainWindow{
  background-color: white;

  width: 50vw;
  min-width: 634px;
  height: 65vh;
  min-height: 410.4px;
  margin-bottom: 5px;

  border-radius: 10px;
  box-shadow: 0px 6px 0px 1px rgba(0, 0, 0, 0.15);

  transition: background-color 0.2s;
}

.mainWindowContent{
  border: 2px solid #afafaf;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px; 
  height: 59vh;
  min-height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: border 0.2s;
}

.mainWindowDecoration{
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border: 2px solid #3e3e3e;
  border-bottom: none;
  background-color: #3e3e3e;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;

  height: 6vh;
  min-height: 44.5px;
  display: flex;
  align-items: center;
  padding-left: 20px;

  transition: border 0.2s, background-color 0.2s;
}

.greetingContainer{
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomingText{
  color: #424242;
  font-size: 5rem;
  font-weight: 400;

  transition: color 0.2s;
}

.name{
  color: #f59300;

  transition: color 0.2s;
}

.selfDescription{
  color: #424242;
  font-size: 1.8rem;

  transition: color 0.2s;
}

.windowIcons{
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 60px;
  width: 25vw;
  min-width: 322px;
}

@media (max-height: 745px) {
  .greetingContainer{
    margin-top: 40px;
  }
}

@media (max-height: 650px) {
  .greetingContainer{
    margin-top: 10px;
  }
  .windowIcons{
    margin-top: 50px;
  }
}

.windowIconContainer{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.openWindowBtn{
  width: 80px;
  height: 80px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.windowIcon{
  width: 70px;
  height: 70px;
}

.smaller{
  width: 62px;
  height: 62px;
}

.iconName{
  font-size: 1.2rem;
  font-weight: 500;
  color: #424242;

  transition: color 0.2s;
}

.windowIconContainer:hover{
  transform: scale(1.05);
}

.windowIconContainer:active{
  transform: scale(0.95);
}

/* Footer */

.footerContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin: 5px;
  gap: 5px;
  z-index: 1;
}

.quickLinksContainer{
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quickIcons{
  width: 35px;
  height: 35px;
}

.quickLinks{
  transition: transform 0.1s;
}

.quickLinks:hover{
  transform: scale(1.1);
}

.quickLinks:active{
  transform: scale(0.8);
}

.copyright{
  font-size: 0.8rem;
  font-weight: 500;
  color: #424242;

  transition: color 0.2s;
}