.headerContainer{
  position: relative;
}

.header{
  position: relative;
  z-index: 3;
  height: 7vh;
  width: 100vw;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 2px solid #afafaf;
  border-top: 2px solid #afafaf;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.15);
}

/* Left */

.panelLeft{
  width: 35px;
  height: 35px;

  background: none;
  border: none;
  margin-left: 20px;
  transition: transform 0.1s;
  cursor: pointer;
}

.icon{
  width: 35px;
  height: 35px;
}


/* Middle */

.songMenu{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
}

.middlePlayerSide{
  display: flex;
  align-items: center;
  gap: 40px;
}

.musicBtn{
  padding: 0px;

  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.1s;
}

.musicIcon{
  width: 28px;
  height: 28px;
}

.musicIconSecondary{
  width: 25px;
  height: 25px;
}

/* Right */

.panelRight{
  width: 35px;
  height: 35px;

  background: none;
  border: none;
  margin-right: 20px;
  transition: transform 0.1s;
  cursor: pointer;
}

.panelRight:hover,
.panelLeft:hover,
.musicBtn:hover{
  transform: scale(1.1);
}

.panelRight:active,
.panelLeft:active,
.musicBtn:active{
  transform: scale(0.8);
}