/* Project preview */

.windowContent.projects{
  color: #3e3e3e;
  padding: 30px 30px;

  overflow-y: scroll;
  scrollbar-width: auto;
  scrollbar-color: #afafaf transparent;
}

.toolsContainer{
  margin-bottom: 20px;
}

.toolsHeader{
  margin-top: 0px;
}

.projectCards{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projectContainer{
  padding-bottom: 30px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
}

.projectPreview{
  display: flex;
  gap: 30px;
}

.projectImgContainer{
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.12s;
}

.projectImg{
  width: 17vw;
  height: 25.5vh;
  border-radius: 8px;
}

.projectImgContainer:hover{
  transform: scale(1.03);
}

.projectDescription{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: -1vh;
}

.projectHeading{
  margin: 0px;
  color:#f59300;
  font-weight: 500;
}

.afterDescription{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -15px;
}

.githubLink{
  padding: 10px 25px;
  background-color: #fff8e0;
  border-radius: 6px; 
  color: #f59300;
  font-size: 1.05rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 40px;

  transition: all 0.1s;
}

.githubLink:hover{
  opacity: 0.8;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.githubLink:active{
  transform: translateY(1px);
  box-shadow: none;
}

.toolsList{
  display: flex;
  gap: 10px;
}

.toolName{
  border-radius: 5px;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 5px;
  font-size: 1.05rem;

  transition: transform 0.1s;
}

.toolName:hover{
  transform: translateY(-5px);
}

/* Image View */

.imageViewer{
  position: fixed;
  inset: 0px 0px 0px 0px;
  background-color: #3e3e3ece;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
}

.imageViewer.shown{
  opacity: 1;
  pointer-events: auto;
}

.imageView{
  width: 75vw;
}

.viewSign{
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: Montserrat;
}

.viewInstructions{
  color: rgb(232, 232, 232);
  font-family: Montserrat;
}

.viewInstructions:hover{
  color: rgb(255, 255, 255);
}

.textLinks{
  color: #f59300;
  text-decoration: underline;
}