.taskbarContainer{
  height: 14vh;
  display: flex;
  align-items: start;
  justify-content: center;
}

.taskbar{
  border: 2px solid #3e3e3e;
  border-radius: 10px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);

  height: 12vh;
  width: 50vw;
}