.window.openedWindow{
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.window{
  z-index: 10;
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 6px 0px 1px rgba(0, 0, 0, 0.15);

  opacity: 0;
  pointer-events: none;
  transform: scale(0.2);

  transition: opacity 0.2s,
              transform 0.2s,
              background-color 0.2s,
              border 0.2s;
}

.window.dragging{
  box-shadow: 0px 6px 5px 2px rgba(0, 0, 0, 0.15);
  cursor: grabbing;
}

.contact{
  left: 45vw;
  top: 20vh;
  width: clamp(375.46px, 30vw, 440px);
  height: 360px;
  background-color: #fffcf3;
}

.about{
  left: 22vw;
  top: 10vh;
  width: clamp(479px, 35vw, 547px);
  height: clamp(420px, 70vh, 523px);
  background-color: white;
}

.projects{
  left: 20vw;
  top: 10vh;
  width: 60vw;
  height: 65vh;
  background-color: white;
}

.windowDecoration{
  background-color: #3e3e3e;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;

  padding: 0px 20px 0px 20px;
  height: 44.83px;
  border: 2px solid #3e3e3e;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeBtn{
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;

  transition: transform 0.1s;
}

.closeBtn:hover{
  transform: scale(1.1);
}

.closeBtn:active{
  transform: scale(0.8);
}

.windowContent{
  flex: 1;
  width: 1fr;
  border: 2px solid #afafaf;
  border-radius: 0px 0px 10px 10px;

  display: flex;
  flex-direction: column;

  transition: color 0.4s,
              scrollbar-color 0.2s;
}