.window.openedWindow{
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.window{
  z-index: 10;
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 6px 0px 1px rgba(0, 0, 0, 0.15);

  opacity: 0;
  pointer-events: none;
  transform: scale(0.2);

  transition: opacity 0.2s,
              transform 0.2s;
}

.window.dragging{
  box-shadow: 0px 6px 5px 2px rgba(0, 0, 0, 0.15);
  cursor: grabbing;
}

.window.active{
  z-index: 100;
}

.window.previousActive{
  z-index: 99;
}

.contact{
  left: 500px;
  top: 100px;
  width: 30vw;
  height: 50vh;
  background-color: #fffcf3;
}

.about{
  left: 300px;
  top: 200px;
  width: 40vw;
  height: 50vh;
  background-color: white;
}

.projects{
  left: 200px;
  top: 200px;
  width: 60vw;
  height: 65vh;
  background-color: white;
  overflow-y: scroll;
}

.windowDecoration{
  background-color: #3e3e3e;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;

  padding: 0px 20px 0px 20px;
  height: 6vh;
  border: 2px solid #3e3e3e;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeBtn{
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;

  transition: transform 0.1s;
}

.closeBtn:hover{
  transform: scale(1.1);
}

.closeBtn:active{
  transform: scale(0.8);
}

.windowContent{
  flex: 1;
  width: 1fr;
  border: 2px solid #afafaf;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; 

  display: flex;
  flex-direction: column;
}